# ======= DEFAULT =======

# Personal
.vale-styles
.vale.ini

# IDEA
.idea

# Draw.io
*.bkp

# Environments
.env
venv

# ======= PYTHON =======

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Sphinx documentation
docs/_build/

# ======= SPECIAL =======
output/
data/
cache/

App_Logs

track_analysis/benchmarks/
downloads.csv
corpus.csv

private_*
