[submodule "cli_bench"]
	path = track_analysis/components/cli_bench
	url = https://github.com/LordMartron94/CLI-Bench
	branch = main
[submodule "MD.Common.Python"]
	path = track_analysis/components/md_common_python
	url = https://github.com/LordMartron94/py-common
	branch = main
[submodule "MD.Launcher"]
	path = track_analysis/components/md.launcher
	url = https://github.com/LordMartron94/MD.Launcher
	branch = main
[submodule "MD.Logging"]
	path = track_analysis/components/md.logging
	url = https://github.com/LordMartron94/CBA-Logger
	branch = main
